/* All styling start */
.heading {
  margin-top: 5vw;
}
/* All styling end */

/* Hero section start */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 102vh;
}

.landing-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  color: #2B2D42;
  font-weight: 700;
}

.landing-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.get-started-button {
  background-color: #EF233C;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
}

.learn-more-button {
  background-color: #2B2D42;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
}

.get-started-button:hover {
  transition: ease-in-out 0.2s; /* Add a smooth transition */
}

.learn-more-button:hover {
  transition: ease-in-out 0.2s;
}
/* Hero section end */

/* Number section start */
.numbers-section {
  background-color: #2B2D42;
}

.number-heading {
  font-family: "Montserrat", sans-serif;
  color: #EDF2F4;
}

.number-text {
  font-family: "Montserrat", sans-serif;
  color: #8D99AE;
}

#learning-objectives {
  background-color: #EF233C;
}
/* Number section end */

/* About page section start */
.text {
  margin-bottom: 2vw;
}
/* About section end */

/* Featured courses & categories cards start */
.cards-grid {
  margin: 0px;
}

.card {
  border-radius: 16px;
}

.card-course-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.badges {
  margin-top: 0vw;
  margin-bottom: 0.5vw;
}

.card-div {
  padding-top: 1vw;
}

.cta-categories {
  text-align: center;
}
/* Featured courses & categories cards end */

#categories {
  scroll-margin-top: 10vw; /* Adjust the value as needed */
}

.course-button {
  background-color: #2B2D42;
  color: #FFFFFF;
  font-size: 0.85rem;
  font-weight: 600;
}

