<section class="courses bg-white dark:bg-gray-900">
    <div class="page-div py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid gap-8 lg:gap-16 sm:py-16 lg:px-6">
        <div class="flex flex-col justify-center">
            <h2 class="mb-4 text-4xl tracking-tight leading-none md:text-4xl lg:text-5xl">All Courses</h2>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Select from wide range of courses that fit your needs.</p>
        </div>
        <div class="mb-2">
          <div class="rounded-xl p-6 bg-white border border-gray-200 rounded-lg">
          <h2 class="text-stone-700 text-xl font-bold">Apply filters</h2>
          <p class="mt-1 text-sm">Use filters to further refine search</p>
          <div class="mt-8 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <div class="flex flex-col">
              <label for="language" class="text-stone-600 text-sm font-medium">Language</label>
              <input type="text" id="language" placeholder="python" class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-red-500 focus:ring focus:ring-red-200 focus:ring-opacity-50" />
            </div>
            <div class="flex flex-col">
              <label for="category" class="text-stone-600 text-sm font-medium">Category</label>
              <input type="category" id="category" placeholder="datascience" class="mt-2 block w-full rounded-md border border-gray-200 px-2 py-2 shadow-sm outline-none focus:border-red-500 focus:ring focus:ring-red-200 focus:ring-opacity-50" />
            </div>
            <div class="flex flex-col">
              <div class="mt-6 grid w-full grid-cols-2 justify-end space-x-4 md:flex">
                <button class="reset-button rounded-lg bg-gray-200 px-9 py-3 font-medium text-gray-600 outline-none focus:ring hover:opacity-90">Reset</button>
                <button class="search-button rounded-lg px-8 py-2 font-medium text-white outline-none focus:ring hover:opacity-90">Search</button>
              </div>
            </div>
    </div>
        </div>
        </div>
          <div class="cards-grid space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/web-dev-basics" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/web-dev-basics.jpg" alt="" style="width: 100%; height: 55%;" />
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">html</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">css</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">javascript</span>
                </div>
                  <a href="/courses/web-dev-basics" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Web Development Basics</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Build your first website from scratch and kickstart your journey into web dev.
                  </p>
                  <a href="/courses/web-dev-basics" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/python-fundamentals" target="_blank">
                  <img class="card-course-image card-course-image rounded-t-lg" src="../../../assets/python-fundamentals.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">jupyter</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">pycharm</span>
                </div>
                  <a href="/courses/python-fundamentals" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Python Fundamentals</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Discover the power of Python programming with hands-on exercises and projects.
                  </p>
                  <a href="/courses/python-fundamentals" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/machine-learning-basics" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/machine-learning-basics.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                    <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                    <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">pandas</span>
                    <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">matplotlib</span>
                </div>
                  <a href="/courses/machine-learning-basics" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Machine Learning Basics</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Unlock the potential of machine learning with this introductory course.
                  </p>
                  <a href="/courses/machine-learning-basics" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/data-analysis-introduction" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/data-analysis-intro.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">sql</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">r</span>
                </div>
                  <a href="/courses/data-analysis-introduction" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Data Analysis Introduction</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Learn the foundational concepts of data analysis.
                  </p>
                  <a href="/courses/data-analysis-introduction" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/cybersecurity-basics" target="_blank">
                  <img class="card-course-image card-course-image rounded-t-lg" src="../../../assets/cybersecurity-basics.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">bash</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">wireshark</span>
                </div>
                  <a href="/courses/cybersecurity-basics" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Cybersecurity Basics</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Gain essential knowledge about cybersecurity principles and practices.
                  </p>
                  <a href="/courses/cybersecurity-basics" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/unity-game-design" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/unity-game-design.webp" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                    <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">c#</span>
                    <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">unityscript</span>
                    <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">shaderlab</span>
                </div>
                  <a href="/courses/unity-game-design" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Unity Game Design</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Master the fundamentals of game design using Unity.
                  </p>
                  <a href="/courses/unity-game-design" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/python-data-analysis" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/python-data-analysis.jpg" alt="" style="width: 100%; height: 55%;" />
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">pandas</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">numpy</span>
                </div>
                  <a href="/courses/python-data-analysis" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Python Data Analysis</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Explore data analysis techniques using Python programming.
                  </p>
                  <a href="/courses/python-data-analysis" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="courses/threat-detection-techniques" target="_blank">
                  <img class="card-course-image card-course-image rounded-t-lg" src="../../../assets/cybersec-threats.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">snort</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">powershell</span>
                </div>
                  <a href="courses/threat-detection-techniques" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Threat Detection Techniques</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Discover strategies for detecting and mitigating cyber threats.
                  </p>
                  <a href="courses/threat-detection-techniques" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="courses/responsive-web-design" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/responsive-web-design.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                    <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">html</span>
                    <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">css</span>
                    <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">javascript</span>
                </div>
                  <a href="courses/responsive-web-design" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Responsive Web Design</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Learn to create websites that adapt to different screen sizes and devices.
                  </p>
                  <a href="courses/responsive-web-design" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="courses/android-app-fundamentals">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/android-app-fundamentals.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">java</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">xml</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">kotlin</span>
                </div>
                  <a href="courses/android-app-fundamentals">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Android App Fundamentals</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Build your digital empire one Android app at a time.
                  </p>
                  <a href="courses/android-app-fundamentals" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="courses/ios-app-development" target="_blank">
                  <img class="card-course-image card-course-image rounded-t-lg" src="../../../assets/ios-app-dev.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                  <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">swift</span>
                  <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">objective-c</span>
                  <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">swiftui</span>
                </div>
                  <a href="courses/ios-app-development" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">iOS App Development</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Transform your app dreams into reality with iOS development mastery.
                  </p>
                  <a href="courses/ios-app-development" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
            <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
              <a href="/courses/data-visualization" target="_blank">
                  <img class="card-course-image rounded-t-lg" src="../../../assets/data-vis.jpg" alt="" style="width: 100%; height: 55%;"/>
              </a>
              <div class="card-div p-5">
                <div class="badges">
                    <span class="ww bg-blue-100 text-blue-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">python</span>
                    <span class="ww bg-indigo-100 text-indigo-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">r</span>
                    <span class="ww bg-yellow-100 text-yellow-800 text-xs font-medium me-1 px-2.5 py-0.5 rounded">javascript</span>
                </div>
                  <a href="/courses/data-visualization" target="_blank">
                      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">Data Visualisation</h5>
                  </a>
                  <p class="mb-3 font-normal text-gray-700">
                    Paint vivid stories with data using cutting-edge visualization techniques.
                  </p>
                  <a href="/courses/data-visualization" target="_blank" class="course-button button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:opacity-90">
                      View Course
                       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                      </svg>
                  </a>
              </div>
            </div>
          </div>
      </div>
</section>
