.create-account-section {
  /* Your existing styles */
  margin-top: 3vw; /* Default margin */

  /* Media query for mobile devices */
  @media screen and (max-width: 700px) {
    margin-top: 30vw; /* Increase margin on smaller screens */
  }
}

.sign-up-button {
  background-color: #2B2D42;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}
