<section class="courses bg-white dark:bg-gray-900">
    <div class="page-div py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid gap-8 lg:gap-16 sm:py-16 lg:px-6">
        <div class="flex flex-col justify-center">
            <h2 class="mb-4 text-4xl tracking-tight leading-none md:text-4xl lg:text-5xl">Machine Learning Basics</h2>
            <p class="text mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Dive into the world of artificial intelligence with our "Machine Learning Basics" course. Learn essential concepts and techniques to kickstart your journey into the exciting field of machine learning. Join us and unlock the potential to create intelligent systems that revolutionize industries and drive innovation!</p>
        </div>
    </div>
    <div class="video-container">
      <iframe width="1250" height="700" src="https://www.youtube.com/embed/7eh4d6sabA0?si=qCjxQQoQBhuDNIe_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
