<section class="courses bg-white dark:bg-gray-900">
    <div class="page-div py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid gap-8 lg:gap-16 sm:py-16 lg:px-6">
        <div class="flex flex-col justify-center">
            <h2 class="mb-4 text-4xl tracking-tight leading-none md:text-4xl lg:text-5xl">Web Development Basics</h2>
            <p class="text mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Master the essentials of web development with our "Web Development Basics" course. Dive into HTML, CSS, and JavaScript to build your first websites from scratch. Perfect for beginners, this course provides the foundation you need to kickstart your journey in web development. Join us and bring your digital creations to life!</p>
        </div>
    </div>
    <div class="video-container">
      <iframe width="1250" height="700" src="https://www.youtube.com/embed/3JluqTojuME?si=ssK3Gzg5NJxOW-1U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
