<div class="user-card p-5 border rounded text-center text-gray-500 max-w-sm mx-auto">
    <img class="w-32 h-32 rounded-full mx-auto" src="https://loremflickr.com/320/320/man" alt="">
    <div class="text-sm mt-5">
        <p class="name">John Pork</p>
        <p class="email">email</p>
    </div>
    <p class="mt-2 text-sm text-gray-900">
      I'm a passionate developer who loves to build innovative solutions using the latest technologies. When I'm not coding, you can find me exploring the great outdoors, hiking through mountains, or relaxing with a good book and a cup of coffee. I believe in continuous learning and enjoy experimenting with new programming languages and frameworks to expand my skills.
    </p>
</div>
