<section class="courses bg-white dark:bg-gray-900">
    <div class="page-div py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid gap-8 lg:gap-16 sm:py-16 lg:px-6">
        <div class="flex flex-col justify-center">
            <h2 class="mb-4 text-4xl tracking-tight leading-none md:text-4xl lg:text-5xl">Course Name</h2>
            <p class="text mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Course description (Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim.)</p>
        </div>
    </div>
    <div class="video-container">
      <iframe width="1250" height="700" src="https://www.youtube.com/embed/eWRfhZUzrAc?si=NzKHcVvs8AiVn4t2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
