.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 102vh;
}

.landing-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  color: #2B2D42;
  font-weight: 700;
}

.landing-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.get-started-button {
  background-color: #EF233C;
  color: #FFFFFF;
  border-radius: 16px;
  font-size: 1.25rem;
  font-weight: 600;
}

.learn-more-button {
  background-color: #2B2D42;
  color: #FFFFFF;
  border-radius: 16px;
  font-size: 1.25rem;
  font-weight: 600;
}

.numbers-section {
  background-color: #2B2D42;
}

.number-heading {
  font-family: "Montserrat", sans-serif;
  color: #EDF2F4;
}

.number-text {
  font-family: "Montserrat", sans-serif;
  color: #8D99AE;
}

#learning-objectives {
  background-color: #EF233C; /* Change "green" to the desired color */
}
