.cards-grid {
  margin: 0px;
}

.text {
  margin-bottom: 2vw;
}

.card {
  border-radius: 16px;
}

img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.badges {
  margin-top: 0vw;
  margin-bottom: 0.5vw;
}

.card-div {
  padding-top: 1vw;
}

.cta-categories {
  text-align: center;
}
