<section class="admin-panel bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <h2 class="heading mb-4 text-4xl tracking-tight">Admin panel</h2>
    <p class="text-gray-500 sm:text-xl">Here can admin add, edit and delete courses.</p>

    <!-- Box for displaying courses -->
    <div class="bg-gray-100 rounded-lg p-4 mt-4">
      <!-- Placeholder text for courses -->
      <p>No courses available</p>
    </div>
    <!-- Button to create new course -->
    <button class="mt-8 learn-more-button rounded-lg inline-flex items-center justify-center px-7 py-4 text-sm font-medium focus:ring-4 focus:ring-gray-300 hover:opacity-90">Create new course</button>
  </div>
</section>
